<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Spring Boot Thymeleaf Sample</title>

</head>

<body>
<div th:include="menu :: menu-one"></div>
<div class="container">

    <form action="#"
          method="post"
          th:action="@{/adduser}"
          th:object="${user}">

        <div class="row">
            <div class="col">

                <label for="firstName">FirstName</label>
                <input class="form-control" id="firstName" placeholder="FirstName"
                       th:field="*{firstName}" type="text"/>
                <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
            </div>

            <div class="col">
                <label for="lastName">LastName</label>
                <input class="form-control" id="lastName" placeholder="LastName"
                       th:field="*{lastName}" type="text"/>
                <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                    <option th:each="gender : ${T(com.project.one.model.Gender).values()}"
                            th:text="${gender}" th:value="${gender}"></option>
                </select>
                <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></span>
            </div>

            <div class="col">
                <label class="control-label" for="birthDate">BirthDate</label>
                <input class="form-control" id="birthDate" placeholder="BirthDate"
                       th:field="*{birthDate}" type="date"/>
                <span th:errors="*{birthDate}" th:if="${#fields.hasErrors('nationalCode')}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="control-label" for="nationalCode">National Code</label>
                <input class="form-control" id="nationalCode" placeholder="National Code"
                       th:field="*{nationalCode}" type="text"/>
                <span th:errors="*{nationalCode}" th:if="${#fields.hasErrors('nationalCode')}"></span>
            </div>

            <div class="col">
                <label class="control-label" for="email">Email</label>
                <input class="form-control" id="email" placeholder="Email"
                       th:field="*{email}" type="email"/>
                <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="col">
                    <button class="btn btn-primary" style="margin-top: 10px" type="submit">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>
</body>

</html>